video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}

#ventanaLogin {
	position: fixed;
	width: 350px;
	height: 300px;
	top: 25%;
	left: 38%;
    text-align: center;
    padding: 20px;
	background-color: white;
	border-radius: 15px;
	box-shadow: 10px 10px 5px #504444;
}

#error {
	background-image: url(../img/forastero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.msgError {
	width: 40%;
    height: 200px;
    font-size: 3.2em;
    padding: 40px;
}

.logo {
	width: 80%;
}

.logoHeader {
	height: 50px;
	float:right;
}

.center {
	width:75%;
	margin: 0 auto;
}

.titulo {
	text-align: center;
}